@import "~antd/dist/antd.dark.css";

.header {
  padding: 8px 0;
}

.title {
  text-align: center;
}

.content {
  margin: 20px auto;
  width: 97%;
}

blockquote {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 5px solid grey;
}
